a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.4);
}
.app-content {
  margin: 30px auto;
  margin-bottom: 0;
  padding: 15px 15px 5px 15px;
  max-width: 800px;
}
.city {
  font-size: 48px;
  line-height: 60px;
  padding-left: 10px;
  text-transform: capitalize;
}
.todays-forecast {
  margin: 5px 0;
}
.today {
  font-size: 18px;
  margin-bottom: 6px;
}
.current-weather {
  margin-bottom: 12px;
}
.current-weather::first-letter {
  text-transform: capitalize;
}
.current-temperature {
  font-size: 40px;
}
.todays-high-low {
  font-size: 18px;
  margin-bottom: 20px;
}
.todays-wind-speed,
.todays-humidity {
  margin-bottom: 6px;
}
.forecast-title {
  font-size: 24px;
  padding: 8px;
}
.day-of-week,
.forecast-high-low,
.forecast-icon,
.forecast-pop {
  text-align: center;
}
.forecast-icon {
  display: block;
  font-size: 30px;
  margin: 0 auto;
  padding: 0;
}
.update {
  color: grey;
  font-size: 12px;
  line-height: 30px;
  padding-left: 5px;
}
.code {
  font-size: 14px;
  margin: 5px auto;
  max-width: 800px;
  padding-left: 5px;
}
.source-code {
  color: rgb(13, 110, 253);
}
#todays-icon {
  padding-left: 15px;
}
.inactive {
  color: black;
  cursor: default;
}
